<h1 class="text-3xl font-bold my-8">Sobre</h1>
<h2 class="text-2xl font-bold my-8">
  O que é possível fazer com esse aplicativo?
</h2>
<ul class="list-disc ml-8">
  <li class="my-5">Listas de tarefas</li>
  <li class="my-5">Organizar tarefas em itens e sub-itens</li>
  <li class="my-5">Marcar as tarefas como concluídas</li>
  <li class="my-5">Compartilhar a lista de tarefas com outras pessoas</li>
</ul>

<h2 class="text-2xl font-bold my-8">Como este aplicativo pode ser útil?</h2>
<ul class="list-disc ml-8">
  <li class="my-5">Ele pode te ajudar a lembrar do que você precisa fazer</li>
  <li class="my-5">
    Ele pode ajudar duas ou mais pessoas a manterem uma melhor comunicação sobre
    que tarefas estão pendentes
  </li>
  <li class="my-5">
    Ele pode ajudar a manter um histórico de coisas que você já terminou de
    fazer
  </li>
</ul>
